---

layout: "base.njk"
---

    <h2> {{ name }}</h2>
    <img src="{{ image }}" alt="alt" class="shop-image">
    <p>  {{ price }}$</p>

    {{ content | safe }}

    <a href="../../shop">go to back</a>

