---

title : shop
layout: "base.njk"

---

{% for product in collections.product %}
    <a href="{{ product.url }}">
        <h2> {{ product.data.name }}</h2>
    </a>
    <a href="{{ product.url }}">
        <img  src="{{product.data.image}}" alt="alt" class="shop-image"> 
    </a>
    <p>  {{ product.data.price }}$</p>
{% endfor %}
    <div>
        <a href="../index.html">go to home</a>
    </div>
