---

title : shop
layout: "base.njk"

---



<h2> item name</h2>
<p> item price</p>

{% for product in collections.product %}
    <h2> {{ product.data.name }}</h2>
    <p>  {{ product.data.price }}</p>
{% endfor %}

<a href="../index.html">go to home</a>